.container {
  composes: container grid from "./general.module.css";
  place-items: center;
  /* color: #087f5b; */
  background-color: #fafafa;
}

.container > span {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
