.wrapper {
  composes: flex from "./general.module.css";
  outline: 1px solid #000;
}

.vertical {
  composes: wrapper;
  flex-flow: row wrap;
}

.horizontal {
  composes: wrapper;
  flex-flow: column wrap;
}

.only {
  composes: wrapper;
  flex-direction: column;
}

.wrapper > * {
  margin: 0.5rem;
}

.img__container {
  flex: 1;
}

.content__container {
  flex: 2;
}
